{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <center>
    <h1>yaa sudheer tell me. what is the projet.....😉😉</h1>
    <pre>
        <p>
            <b>It’s true that close friends may not use small talk as
            much as people who don’t know each other well. But there
            are still times when using small talk with friends makes sense.</b>
        </p>
    </pre>
    <h2>looking cute</h2>
        <img src="{% static 'images/img1.jpg' %}" alt="THERE IS SOMETHING" width="30%" height="30%" class="he">
        <img src="{% static 'images/img2.jpg' %}" alt="THERE IS SOMETHING"width="30%" height="30%" class="he">
        <h2>CHEPPU MOWA NUVE EM ANUKUNTUNAVA ❤️💕❤️</h2 background-color: black>
        <a href="{% url 'rajeswari' %}"><b><u>click here to go....</u></b></a>
    </center>
</body>
</html>