{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">

</head>
<body>
    <center>
        <h1>HAI SUDHEER WE  ARE GOTNG TO DEVELOP THE PROJECT</h1>
        <img src="{% static 'images/mahesh.jpg' %}" alt="THERE IS SOMETHING">
        <h2>now we are going to meet gayathri😎😍😎</h2>
        <a href="{% url 'mowa' %}"> <b><u>click here to go </u></b></a>
    </center>
    
</body>
</html>